# SPDX-License-Identifier: Apache-2.0 OR MIT

name: CI

permissions: {}

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:

    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --locked

    - name: Build website
      run: uv run make dirhtml
